body {
    color:white;
    background:plum;
}
.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
    border: 2px dashed black;
    width: 430px;
    height: 350px;
}
.name_of_objects {
    font-size: 30px;
    background-color: royalblue; 
    width:80px;
}